[tool.poetry]
name = "permpy"
version = "0.2.0"
description = "A package for analyzing permutation patterns."
authors = ["Michael Engen", "Cheyne Homberger", "Jay Pantone"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7"
pytest = "^7.1.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = ["poetry.core.masonry.api"]
